# 공통 설정

# actuator 허용 url (refresh scope 사용 위한 설정 - 2.0 이후) actuator/bus-refresh (cloud bus)
management:
  endpoints:
    web:
      exposure:
        include: "bus-refresh"

spring:
  cloud:
    bus:
      enabled: true
  # rabbitMQ 설정
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest